# Project exclude paths
/.gradle/
/**/build/
/.idea/
local.properties
/**/*.iml
*.iml
Firebase*.zip
/Firebase
.DS_Store
*.log
/kotlin-js-store/
/kotlin-js-store/yarn.lock

# environment variables (post-PolinRider hardening)
.env
.env.*
!.env.example
